footer {
  padding: 1% 5%;
  padding-top: 5%;
  background-color: #532f82 !important;
}

footer > .first-child {
  display: flex;
  flex-direction: column;
}

footer > .first-child > .links {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

footer > .first-child > .links a {
  text-decoration: none;
  font-size: 0.8em;
  color: #c1bec4;
  margin-bottom: 5px;
}

footer > .first-child h5 {
  color: white;
  margin-bottom: 15px;
}

footer > .first-child > div,
footer > .second-child > div,
footer > .last-child > div {
  margin-bottom: 10px;
  max-width: 100vw;
  box-sizing: border-box;
  padding: 0 2%;
}

footer > .first-child > div > svg,
footer > .second-child > div > svg,
footer > .last-child > div > svg {
  max-width: 100%;
}

footer > .second-child {
  margin-top: 3px;
}

footer > .second-child > div {
  padding: 10px 0;
}

@media only screen and (min-width: 1000px) {
  footer > .first-child {
    flex-direction: row;
    justify-content: space-between;
  }

  footer > .first-child > div {
    margin-bottom: 20px;
  }

  footer > .second-child {
    display: flex;
    justify-content: space-between;
  }

  footer > .second-child > .temp {
    display: none;
  }

  footer > .last-child {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    padding: 5px 0;
  }

  footer {
    margin-top: -2% !important;
  }
}
