main {
  width: 90%;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

main > * {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

main > div:first-child form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
}

main > div:first-child form > * {
  width: 100%;
}

main > div:first-child form > div {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: #391766;
}

main > div:first-child form > div > div {
  box-sizing: border-box;
  width: 2px;
  height: 90%;
  padding: 10px 0;
  background-color: rgb(234, 209, 231);
  color: white;
}

main > div:first-child form > div > label {
  width: 40%;
  height: 100%;
}

main > div:first-child form > div > label > input {
  box-sizing: border-box;
  width: 80%;
  height: 100%;
  padding: 10px;
  background: #391766;
  border: none;
  outline: none;
  color: white;
  font-size: 1rem;
}

button {
  padding: 15px 0;
  border-radius: 10px;
  border: none;
  color: #391766;
  font-weight: 700;
  transition: 200ms;
}

button:hover {
  transform: scale(90%);
}

.content > * {
  width: 100%;
  max-width: 600px;
  position: relative;
  color: rgb(221, 198, 219);
  margin-bottom: 40px;
  font-size: 1.2em;
}

.content p {
  word-spacing: 10px;
}

.content > h1 {
  font-size: 1.9rem;
  color: rgb(231, 229, 229);
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  white-space: nowrap;
  word-spacing: -4px;
  max-width: 400px;
}

.content > h1 > svg {
  position: absolute;
  left: 60%;
  top: 70%;
}

.video-container {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 300px;
}

.video-container > svg {
  position: absolute;
}

.video-container iframe {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  position: relative;
}

.video-container .deco1 {
  top: -12%;
  left: -5%;
}

.video-container .deco0 {
  top: -5%;
  left: 50%;
  z-index: 30;
  font-weight: 900;
}

.video-container .deco2 {
  top: 70%;
  left: 35%;
  z-index: -1;
}

@media only screen and (max-width: 1000px) {
  .video-container .deco2 {
    top: 60%;
    left: 25%;
    z-index: -1;
    transform: scale(50%);
    background-color: red;
  }
}

@media only screen and (min-width: 1000px) {
  main {
    margin-top: 10%;
  }

  main > div:first-child form {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: #391766;
    border-radius: 10px;
    padding-top: 5px;
  }

  main > div:first-child form > div {
    width: 70%;
  }

  main > div:first-child form > button {
    width: 20%;
  }

  button {
    width: 20%;
    padding: 15px 0;
  }

  .content > * {
    max-width: 600px;
  }

  .content > h1 {
    font-size: 2.5rem;
  }

  .content > p {
    font-size: 1.3rem;
  }

  .content > h1 > svg {
    position: absolute;
    top: 80%;
    left: 85%;
  }
}
