* {
  box-sizing: border-box;
  margin: 0;
}

.main-section {
  background-color: white;
  margin: 100px 0;
  margin-bottom: -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-section .section-header {
  text-align: center;
  max-width: 500px;
  font-size: 1.3em;
  margin: 20px;
  margin-top: 40px;
}

.main-section .how-to-do-it_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 10px 0;
  width: 100%;
}

.main-section .how-to-do-it_container > div {
  width: 80%;
}

.main-section .how-to-do-it_container > div > svg {
  max-width: 100%;
}

.main-section .desktop-arrow {
  display: none;
}

.main-section > a {
  background-color: #603f8b;
  padding: 15px 25px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  margin-bottom: 70px;
}

.main-section > a:hover {
  background-color: #322345;
}

@media only screen and (min-width: 1000px) {
  .mobile_arrow {
    display: none;
  }

  .main-section .desktop-arrow {
    display: flex;
    position: absolute;
  }

  .main-section .how-to-do-it_container {
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    padding: 2%;
  }

  .main-section .how-to-do-it_container > div {
    width: 20%;
    padding: 0;
  }

  .how-to-do-it_container > div > svg {
    width: 100%;
  }

  .first_d_arrow {
    left: 15%;
    top: 70%;
  }

  .second_d_arrow {
    left: 40%;
    top: 0;
  }

  .last_d_arrow {
    left: 65%;
    top: 70%;
  }
}
