.reviews-container {
  padding-top: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.reviews-container h3 {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: 1.6em;
  color: rgb(56, 25, 84);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.reviews-container > .review-block {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

.reviews-container > .review-block > div > svg {
  max-width: 100%;
  padding-left: 2%;
}

.reviews-container .review-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: auto;
  box-sizing: border-box;
}

.reviews-container .review-box > div {
  box-sizing: border-box;
  min-width: 70%;
  max-width: 400px;
  margin: 2px;
  padding: 5%;
  display: flex;
  align-items: center;
  background-color: red;
}

.reviews-container .review-box::-webkit-scrollbar,
.reviews-container .review-box::-webkit-scrollbar {
  display: none;
}

.reviews-container .review-box::-webkit-scrollbar-track,
.reviews-container .review-box::-webkit-scrollbar-track {
  display: none;
}

.reviews-container .review-box::-webkit-scrollbar-thumb,
.reviews-container .review-box::-webkit-scrollbar-thumb {
  display: none;
}

.reviews-container .review-box > div > img {
  width: 100%;
}

@media only screen and (min-width: 1000px) {
  .reviews-container > .review-block {
    align-items: center;
    justify-content: space-between;
  }

  .reviews-container .review-box {
    flex-wrap: nowrap;
    padding: 5%;
  }

  .reviews-container .review-box > div {
    background-color: chartreuse;
    min-width: 20%;
    margin: 20px;
    max-width: 20% !important;
  }

  .reviews-container > .review-block > div {
    width: 23% !important;
  }

  .reviews-container h3 {
    font-size: 1.9em;
  }
}
